.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #1f1c18;
}
@media (max-width: 480px) {
  .formContainer {
    margin: 0 10px;
  }
}
.formContainer input,
.formContainer textarea,
.formContainer input[type="file"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #1f1c18;
  color: white;
}
.errormessage {
  color: #e4d804;
  margin-top: 6px;
  font-size: 14px;
}
.formContainer button {
  margin: 20px auto 0;
}
.formContainer label {
  color: white;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 6px;
}
.formContainer label:first-of-type {
  margin-top: 0;
}
.formContainer input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color: white;
  cursor: pointer;
}
