.link {
  display: inline-block;
  background: transparent;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 34px;
  border: 2px solid #e4d804;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.link:hover {
  background: #e4d804;
  color: #1f1c18;
}
